/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-color-alpha: #0065fc26;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --secondary-color: #D9D9D9;

    --border-raduis:15px; 
    --border-raduis-lg:15px; 
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* --- Header */

header {
    max-height: 79px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.header-logo {
    max-height: 79px;
}

.header-logo .logo img {
    height: 19px; /* 61*19px */
}

hgroup h2 { 
    margin-bottom: 0;
}
hgroup h2 + p {
    margin-top: .5rem;
}

.header-nav {
    
}

.header-nav ul.nav {
    padding: 0;
    margin: 0;
}

.header-nav ul.nav li {
    display: inline-block;
    padding-top: 1rem;
    margin-left: 4rem;
}

.header-nav ul.nav li.active, 
.header-nav ul.nav li:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
}

/* --- Hero */

.search-bar { margin-top: 2rem; }
.search-bar form { display: flex; }

.search-bar label {
    background-color: var(--main-bg-color);
    border-top-left-radius: var(--border-raduis);
    border-bottom-left-radius: var(--border-raduis);
    padding: 1rem;
}

.search-bar label i { color: black; } 

.search-bar input {
    all: unset;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
}

button {
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    background: none;
    margin-top: 1rem;
    margin-bottom: 0;
}

.search-bar button {
    background-color: var(--main-color);
    color: white;
    border-top-right-radius: var(--border-raduis);
    border-bottom-right-radius: var(--border-raduis);
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    margin: 0;
}

.search-bar button span { display: inline;}
.search-bar button .search-icon { display: none; color: white;}


.filter-bar { 
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 2rem; 
}

.filter-bar > h3 { margin-right: 1rem; margin-top: 0; margin-bottom: .1rem;}

.list { margin: 0; padding: 0;}
.list li { 
    display: inline-block; 
    list-style: none;
    margin-right: .5rem;
    font-size: 1rem;
    font-weight: 500;
}
.list li:last-child { margin-right: 0;}

.list-pills li a {
    display: inline-block; 
    padding: 1rem;
    border: 2px solid var(--secondary-color);
    border-radius: 2rem;
}

.list-pills i { 
    margin-right: .25rem;
    font-size: 115%;
}

.list-pills li.active a,
.list-pills li:hover a{ 
    background-color: var( --main-color-alpha);
}

.info-bar { margin-top: 1.5rem; }

.info-bar .info-bar-icon {
    display: inline-block;
    border: 1px solid var(--main-bg-color);
    padding: .4rem .6rem;
    font-size: .8rem;
    box-sizing: border-box;
    border-radius: 100%;
}

/*---*/

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements & Populaires : section ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; 
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    /* border: red 1px solid; */
    border-radius: var(--border-raduis-lg);
    padding: 1.5rem 2rem;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    margin-top: 2rem;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    margin-top: 2rem;
}

/****** Activities ***********/
.activities {
    margin-top: 1rem;
    background-color: white;
    /* border: green 1px solid; */

    border-radius: var(--border-raduis-lg);
    padding: 1.5rem 2rem;
    box-sizing: border-box;
}

.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;

    margin-top: 2rem;
}

/****** Hebergements, Populaires, Activities : cards ***********/

.card {
    background-color: white;
    border-radius: var(--border-raduis-lg);
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
}

.card.card-stack {
    flex-direction: column;
}

.card.card-no-padding {
    padding: 0;
}

.card img {
    object-fit: cover;
}

.populaires-cards .card img {
    width: 33%;
    height: 136px;
    border-top-left-radius: calc( var(--border-raduis-lg) - 4px );
    border-bottom-left-radius: calc( var(--border-raduis-lg) - 4px );    
}

.hebergements-cards .card img {
    height: 136px;
    border-top-left-radius: calc( var(--border-raduis-lg) - 4px );
    border-top-right-radius: calc( var(--border-raduis-lg) - 4px );    

    background-size: cover;
}

.activities-cards .card img {
    width: 100%;
    height: 25rem;
    border-top-left-radius: calc( var(--border-raduis-lg) - 4px );
    border-top-right-radius: calc( var(--border-raduis-lg) - 4px );    

    background-size: cover;
}

.card .card-content {
    width: 67%;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.card.card-stack .card-content {
    width: 100%;
}

.card .card-title {
    font-size: 1rem;
    margin-top: 0.625rem;
    margin-bottom: 0.25rem;
}

.card.card-no-padding .card-title {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card .card-subtitle {
    margin: 0.4rem 0;
    font-size: .9rem;
}

.card .card-rating {
    margin-bottom: 5px;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 1.5rem;
    padding-right: 20rem;

    margin-top: 2rem;
}

.footer-nav-title {
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.footer-nav {
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav li {
    margin-bottom: 0.75rem;
}
.footer-nav li:last-child {
    margin-bottom: 0;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium to large devices (fixes grid issue) */
@media (min-width: 1024px) and (max-width: 1312px){
    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filter-bar { 
        flex-direction: column;
        align-items: start;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        margin-bottom: 2rem;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        /* margin-top: 50px; */
    }

    /* .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    } */


    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }

    .activities-cards .card img {
        height: 200px;
    }

    .cards .card-title {
        font-size: 0.625rem;
    }

    .cards .card-subtitle {
        font-size: 0.813rem;
    }

    footer {
        padding-right: 10rem;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    main { 
        margin-top: 1rem;
    }

    section.hero {
        padding: 1.5rem;
    }

    header {
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 1rem 0;
    }

    .header-nav { width: 100%; }

    .header-nav ul.nav { display: flex;}

    .header-nav ul.nav li {
        width: 50%;
        text-align: center;
        margin: 0;
        padding-top: 0;
        padding-bottom: 1rem;

        border: 0;
        border-bottom: 2px solid var(--main-bg-color);
    }

    .header-nav ul.nav li.active,
    .header-nav ul.nav li:hover {
        border: 0;
        border-bottom: 2px solid var(--main-color);
    }

    .search-bar input { padding: 0 1rem; flex: 1;}

    .search-bar button {
        filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
        border-radius: var(--border-raduis);
        padding: 1rem 1.2rem;
    }

    .search-bar button span { display: none;}
    .search-bar button .search-icon { display: inline;}

    .filter-bar { 
        flex-direction: column;
        align-items: start;
    }

    .filter-bar > h3 { margin-bottom: 0; }

    .filter-bar .list { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: .5rem;
        grid-row-gap: 1rem;
        margin: 1rem 0;

        width: 100%;
    }

    .filter-bar .list li { 
        margin: 0;
        font-size: 14px;
        display: flex;
    }

    .filter-bar .list-pills li a { flex:1; }

    .hebergements-and-populaires { margin-top: 0; }
    .hebergements-and-populaires section { margin-bottom: 0; }

    .hebergements-cards,
    .populaires-cards,
    .activities-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    
    section.populaires {
        order: -1;
        border-radius: 0;
        padding: 1.5rem 1.5rem;
    }

    section.hebergements {
        background-color: white;
        border-radius: 0;
        padding: 1.5rem 1.5rem;
    }

    section.activities {
        border-radius: 0;
        padding: 1.5rem 1.5rem;
    }

    .activities-cards .card img { height: 140px; }

    footer {
        flex-direction: column;
        padding-right: 1.5rem;
    }

    footer > div { margin-bottom: 3rem; }

}